@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

html {
	scroll-behavior: smooth;
}

::selection {
	background-color: var(--color-amber-200);
	color: var(--color-stone-900);
}
